{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>Disploit</h1>
    <p>Disploit is a simple app, that modifies the way Discord works. It is also hard for discord to detect than other custom discord clients.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://cdn.discordapp.com/attachments/831882811496464385/839897570758885406/Release_1.zip"><span class="glyphicon glyphicon-flash"></span>Download</a>
  </div>
</div>
{% endblock %}
